@model IEnumerable<ChallengeBD2.GerenciadorDeDados.DadosTwitteR>
@{
    ViewBag.Title = "Coletor";
}

<section class="content-header">
    <h1>
        Coletor
    </h1>
</section>

@using (Html.BeginForm("LerArquivoDePostagens", "Home",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <label>Caminho Arquivo:</label>
            <input type="file" id="MeuArquivo" name="MeuArquivo"/>
            <br />
            <input type="submit" value="Salvar Arquivo" />
        </div>
    </div>
}

<br/>

@*<table class="table">
    <tr>
        <th>
           Id
        </th>
        <th>
            Postagem
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.text)
                </td>
            </tr>
        }
    }

</table>*@
